
    <%- include('partials/head', {title:'Detalle'})%>
<body>
    <%- include('partials/header')%>
  
  
</form>
  </div>

  <main>
<div>
<h2 style="margin-top: 30px;"><%=product.marca%></h2>
<div class="DetalleProducto">
    <div>
        <img class="fotodescripcion" src="/images/products/<%=product.imagen%>" alt="product-image">
        </div>
        
    <div class="descripcion">
<p class="textodescripcion"><%=product.descripcion%></p>
    <div class="containerPrecio">
    <a class="precio"><%product.precio%></a>
</div>

   </div>
    <div class="containerAgregar">
        <button class="agregar">
            <a>Agregar</a>
        </button>
    </div>
    <div class="containerAgregar">
        <button class="agregar">
            <a href="/productos/<%=product.id %>/edit"> Editar</a>
        </button>
    </div>
    
</div>

</div>
</main>
<%- include('partials/footer')%>
  </body>
  </html>
  </html>

