
<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/head', {title:'Productos'})%>

<%- include('partials/header')%>

 
			
			<% for (product of allProducts) { %>
			<div >
				<section>
          <article class="containerProducto" >
            
            <a href="productos/<%= product.id%>/detail">
            <h2 style="color: black;"><%= product.marca %></h2>
						<figure class="product-box_image">
							<img src="/images/products/<%=product.imagen %>" alt="imagen de producto">
						</figure>
					
							<h2><%= product.price %></h2>
					
							<p><%= product.name %></p>
							<i class="fas fa-truck"></i>
						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
	<!-- /Ofertas -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>