


  <%for (product of allProducts){%>
    <a href="productos/<%= product.id%>/detail">
      
    <%= product.marca %> <br>
    </a>
     
   

  <%};%>

  <a herf=#>Crear Producto</a>
			<!-- Show the "in-sale" products -->
			<% for (product of allProducts) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="#">
						<figure class="product-box_image">
							<img src="<%= product.imagen %>" alt="imagen de producto">
						</figure>
						<article class="product-box_data">
							<h2><%= product.price %></h2>
					
							<p><%= product.name %></p>
							<i class="fas fa-truck"></i>
						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
	<!-- /Ofertas -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>